{% extends 'base.html' %}
{% load static %}
{% comment %} <div class="container">
    {% if user.is_authenticated %}
        <h2>Bienvenido, {{ user.username }}!</h2>
        <div> 
            <a class="nav-link" href="{% url 'salario' %}">Salario promedio por profesión</a>
        </div>
        <a href="{% url 'logout' %}" class="logout-btn">Log Out</a>
    {% else %}
        <nav>
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            <a href="{% url 'register' %}" class="nav-link">Register</a>
            <a href="{% url 'login' %}" class="nav-link">Log In</a>
        </nav>
    {% endif %}
</div> {% endcomment %}
{% block content %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 p-1" href="">
        <img src="{% static '/img/logo.png' %}" alt="logo sin bg" class="img-fluid d-block">
    </a>

    <ul class="navbar-nav px-3" style="display: flex; flex-direction: row; align-items: center;">
        {% if user.is_authenticated %}
            <li class="nav-item text-nowrap">
                <span class="nav-link" href="">
                    ({{ user.username }})
                </span>
            </li>
            <li class="nav-item text-nowrap mt-3 ml-2">
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="text text-capitalize" type="submit" value="Sign out" />
                </form>
            </li>
        {% else %}
            <li class="nav-item text-nowrap ml-2">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item text-nowrap ml-2">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item text-nowrap ml-2">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        {% include 'partials/_sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-1">
            <!-- Contenido principal de la página -->
            <div class="d-flex justify-content-center align-items-center vh-100">
                <iframe title="Report Section" width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiMjdmNGE0ZjEtYmIyMS00ZWYwLWJiMjQtOTkyOTczYzQ4OTc1IiwidCI6Ijk5ZjdiNTVlLTljYmUtNDY3Yi04MTQzLTkxOTc4MjkxOGFmYiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </main>
    </div>
</div>



{% endblock %}